/* *****commons***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* container large per il jumbotron e il footer */
.container_large{
    width: 80%;
    margin: auto;
}

/* container small per il main */
.container_small{
    width: 60%;
    margin: auto;
}

/* proprietà float */

.row::after{
    content: " ";
    clear: both;
    display: table;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* *****header***** */

header{
    height: 60px;
    line-height: 60px;
}

header nav li{
    display: inline-block;
    margin: 0 15px;
}

header li img{
    vertical-align: middle;
}

/* *****jumbotron***** */

#jumbotron{
    height: 600px;
}

/* *****main***** */

/* *****footer***** */



/* *****debug***** */

.debug header{
    background-color: yellow;
}

.debug #jumbotron{
    background-color: orange;
}

.debug main{
    height: 1500px;
    background-color: red;
}

.debug footer{
    height: 400px;
    background-color: blue;
}

.debug .container_large, 
.debug .container_small{
    height: 100%;
    border: 2px solid black;
}
