/* *****commons***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

/* container large per il jumbotron e il footer */
.container_large{
    width: 80%;
    margin: auto;
}

/* container small per il main */
.container_small{
    width: 60%;
    margin: auto;
}

/* proprietà float */

.row::after{
    content: " ";
    clear: both;
    display: table;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* proprietà bottoni */

.btn{
    text-decoration: none;
    padding: 5px 15px;
}

.btn_blue{
    background-color: #0061ff;
    color: white;
}

.btn_blue:hover{
    background-color: #3B84FE;
    text-decoration: none;
}

/* proprietà <h1> <h2> <h3> <h4> */

h1{
    font-size: 70px;
    padding-right: 20px;
    padding-top: 50px;
    margin-bottom: 20px;
}

h2{
    font-size: 35px;
    margin-bottom: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 16px;
}
/* *****header***** */

header{
    height: 60px;
    line-height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header nav li{
    display: inline-block;
    margin: 0 15px;
}

header li img{
    vertical-align: middle;
}

header li a{
    color: black;
    text-decoration: none;
}

header li  a:hover{
    text-decoration: underline;
}

/* *****jumbotron***** */

#jumbotron{
    width: 100%;
    height: 630px;
    background-color: #b4d0e7;
    margin-top: 60px;
}

.text_jumbotron{
    width: 35%;
    padding-right: 7%;
}

.text_jumbotron p{
    margin-bottom: 25px;
}

#jumbotron .text_jumbotron a{
    display: inline-block;
    margin-bottom: 10px;
}

.text_jumbotron a:last-of-type{
    color: black;
    text-decoration: none;
}

.text_jumbotron a:last-of-type:hover{
    text-decoration: underline;
}

#jumbotron .text_jumbotron i{
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}

.img_jumbotron{
    width: 58%;
}

.img_jumbotron img{
    width: 100%;
}




/* *****main***** */

/* sezione tariffa dropbox */

#rates{
    margin-top: 150px;
}

/* proprietà input[radio] e testo */
section .radio span{
    margin-right: 20px;
}

/* proprietà dimensioni colonne piano tariffario */

section .row .plan{
    width: calc((100% - 100px) / 3);
    height: 900px;
    border: 1px solid #d0d0d3;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* distanziamento colonne applicate a quella centrale */
.team_standard.plan{
    margin: 0 50px;
}

section .plan .top_plan{
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px;
}

section  i{
    margin-right: 5px;
}

section .plan .bottom_plan{
    padding: 20px 20px;
}

/* proprietà lista delle colonne */
section .plan li{
    list-style: none;
}

section .plan li.price{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

section .plan li.period{
    color: grey;
    margin-bottom: 50px;
}

section ul.info_plan li,
section ul.plan_points li{
    font-size: 13px;
    margin: 20px 0;
}

/* proprietà bottone e collegamento delle colonne */
section .bottom_plan .btn_blue{
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

section .bottom_plan span{
    margin-right: 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d0d0d3;
}

section .bottom_plan h4{
    margin-top: 80px;
}

section ul.plan_points i{
    color: #0061ff;
    font-size: 15px;
}

/* *****footer***** */



/* *****debug***** */

/* .debug header{
    background-color: yellow;
} */

/* .debug #jumbotron{
    background-color: orange;
} */

/* .debug main{
    height: 1500px;
    background-color: red;
} */

.debug section{
    height: 400px;
    background-color: cadetblue;
    border: 1px solid grey;
}

.debug section#rates{
    height: 1500px;
}

.debug .plan{
    background-color: yellow;
    /* border: 1px solid black; */
}

.debug .enterprice{
    height: 200px;
    background-color: yellow;
}

.debug footer{
    height: 400px;
    background-color: blue;
}

.debug .container_large, 
.debug .container_small{
    height: 100%;
    border: 2px solid black;
}

